.primary_heading {
  font-size: 4rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.secondary_heading {

}


.third_text {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 1rem;
}
