// Header
.header {
  // background-color: lightgreen;
  padding: 10rem 0;
  height: 100vh;
  background-image: url("../img/banner/banner2.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: contain;

  &_logo {
    width: 6rem;
    height: 6rem;
  }

  &_nav {
    // background-color: red;
    // position: fixed;
    // z-index: 100;
    background-color: white;

    &--btn {
      color: black !important;
      transition: all .3s;
      text-decoration: none !important;
      text-transform: none;
      margin-right: 2rem;
      font-weight: 400;
      border-bottom: 1px solid transparent;
      &:hover {
        color: #807DEF !important;
        border-bottom: 1px solid #807DEF;
      }
    }
  }

  // header body
  &_body {
    // background-color: yellow;

    &__left {
      // background-color: white;

      &--content {
        // background-color: red;
        padding: 5rem 0;
      }

      &--content1 {
        font-size: 4rem;
      }

      &--content2 {
        font-size: 5.5rem;
      }

      &--content3 {
        font-size: 2.1rem;
      }

      &--button {
        margin-top: 2.8rem;
      }

    }

    &__right {
      // background-color: gray;

      &--imgbox {
        // width: 90%;
      }

      &--img {
        width: 90%;
      }
    }
  }

} // End Header
